/* === GLOBAL === */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  color: #f0f0f0;
  /* === MAIN === */
}
:root html {
  font-size: 62.5%;
}
:root html button {
  cursor: pointer;
}
:root body {
  width: 100%;
  height: 100vh;
  background: rgba(33, 33, 33, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
}
:root body main {
  width: min(60rem, 95%);
  max-width: 144rem;
  height: 40rem;
  padding: 2rem 3rem;
  border-radius: 16px;
  margin: auto;
  background-color: #212121;
  text-align: center;
}
:root body section.main-menu {
  transition: 1.5s all;
  width: 100%;
  height: 100%;
  background-color: #212121;
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
:root body section.main-menu .modal {
  width: min(60rem, 95%);
}
:root body section.main-menu .modal > h1 {
  font-size: 3.2rem;
}
:root body section.main-menu .modal .options > button {
  display: block;
  width: 15rem;
  padding: 1rem;
  margin: 1rem auto;
  border: none;
  border-radius: 8px;
  background-color: #6200ee;
  color: #f0f0f0;
  font-size: 1.2rem;
  transition: 0.5s all;
  cursor: pointer;
}
:root body section.main-menu .modal .options button.choose-valorant {
  background-color: gray;
  cursor: not-allowed;
}
:root body section.champion-interface {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
:root body section.champion-interface .close-window {
  height: 2rem;
}
:root body section.champion-interface .close-window > img {
  cursor: pointer;
  transition: 1s all;
  border-radius: 8px;
}
:root body section.champion-interface .close-window > img:hover {
  transform: scale(1.5);
  background: #ec7474;
}
:root body section.champion-interface .champions-data {
  width: 100%;
  height: 50%;
  margin-top: -2rem;
}
:root body section.champion-interface .champions-data > h1 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}
:root body section.champion-interface .champions-data .lol-design {
  width: 250px;
  border: 5px solid #6200ee;
  border-radius: 20px 20px 0 0;
  transition: 1s all;
}
:root body section.champion-interface .champions-data .lol-design:hover {
  transform: scale(1.04);
}
:root body section.champion-interface .champions-data .valorant-design {
  height: 100%;
}
:root body section.champion-interface .submit-area {
  align-self: flex-end;
  width: 100%;
}
:root body section.champion-interface .submit-area #timer {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
:root body section.champion-interface .submit-area button.sort-champion {
  display: block;
  width: 15rem;
  padding: 1rem;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  background-color: #6200ee;
  color: #f0f0f0;
  font-size: 1.2rem;
  transition: 0.5s all;
}
:root body section.champion-interface .submit-area button.sort-champion:hover {
  background-color: #3700b3;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}
:root body section.champion-interface .submit-area button.sort-champion.disabled {
  cursor: not-allowed;
  background: gray;
}

@media (max-width: 425px) {
  body main.main {
    width: 100%;
    height: 100vh;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  body main.main section.main-menu .modal > h1 {
    font-size: 2.2rem;
  }
  body main.main section.champion-interface {
    justify-content: center;
    align-items: center;
  }
  body main.main section.champion-interface .champions-data .champion-name {
    transition: 4s all;
  }
  body main.main section.champion-interface .submit-area {
    align-self: auto;
  }
}

/*# sourceMappingURL=index.css.map */
